@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700&display=swap');

body {
    font-family: "Manrope", -apple-system, "BlinkMacSystemFont", system-ui, "Roboto", "Segoe UI", "Helvetica Neue", sans-serif;
    color: #000000;
}

.navbar {
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
}

.navbar-brand {
    margin-right: 3rem;
}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 2rem;
        padding-left: 0.5rem;
    }
}

.main_bar {
    border-bottom: 1px solid rgb(243 244 246);
    background: rgb(250 250 250 / 78%);
    backdrop-filter: blur(16px);
}

.nav-link {
    color: #000000;
    font-weight: 500;
}

.nav-link:hover,
.nav-link:focus {
    color: #1145FF;
}

.nav-link.active {
    color: #1145FF;
}

.btn-light {
    color: #000;
    background-color: #ffffff;
    border-color: rgb(243 244 246);
}

.btn-light:hover {
    color: #000;
    background-color: #dfe4e7;
}

.btn-check:focus+.btn-light,
.btn-light:focus {
    color: #000;
    background-color: #ffffff;
    box-shadow: none;
}

.btn-check:checked+.btn-light,
.btn-check:active+.btn-light,
.btn-light:active,
.btn-light.active,
.show>.btn-light.dropdown-toggle {
    color: #000;
    background-color: #c8cdcf;
}

.btn-check:checked+.btn-light:focus,
.btn-check:active+.btn-light:focus,
.btn-light:active:focus,
.btn-light.active:focus,
.show>.btn-light.dropdown-toggle:focus {
    box-shadow: none;
}

.btn-light:disabled,
.btn-light.disabled {
    color: #000;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
}

.btn-primary {
    color: #fff;
    background-color: #1145FF;
    border-color: #1145FF;
}

.btn-primary:hover {
    color: #fff;
    background-color: #0f3ee5;
    border-color: #0f3ee5;
}

.btn-check:focus+.btn-primary,
.btn-primary:focus {
    color: #fff;
    background-color: #0d37cc;
    border-color: #0d37cc;
    box-shadow: none;
}

.btn-check:checked+.btn-primary,
.btn-check:active+.btn-primary,
.btn-primary:active,
.btn-primary.active,
.show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #0d37cc;
    border-color: #0d37cc;
}

.btn-check:checked+.btn-primary:focus,
.btn-check:active+.btn-primary:focus,
.btn-primary:active:focus,
.btn-primary.active:focus,
.show>.btn-primary.dropdown-toggle:focus {
    box-shadow: none;
}

.btn-primary:disabled,
.btn-primary.disabled {
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
}

.btn-dark-white-outlined {
    color: #000000;
    background-color: #ffffff;
    border-color: #000000;
}

.btn-dark-white-outlined:hover {
    color: #000000;
    background-color: #f5f5f5;
    border-color: #000000;
}

.btn-check:focus+.btn-dark-white-outlined,
.btn-dark-white-outlined:focus {
    color: #000000;
    background-color: #f6f6f6;
    border-color: #000000;
    box-shadow: none;
}

.btn-check:checked+.btn-dark-white-outlined,
.btn-check:active+.btn-dark-white-outlined,
.btn-dark-white-outlined:active,
.btn-dark-white-outlined.active,
.show>.btn-dark-white-outlined.dropdown-toggle {
    color: #000000;
    background-color: #e5e5e5;
    border-color: #000000;
}

.btn-check:checked+.btn-dark-white-outlined:focus,
.btn-check:active+.btn-dark-white-outlined:focus,
.btn-dark-white-outlined:active:focus,
.btn-dark-white-outlined.active:focus,
.show>.btn-dark-white-outlined.dropdown-toggle:focus {
    box-shadow: none;
}

.btn-m {
    padding: 0.6rem 0.9rem;
    font-size: 1rem;
    border-radius: 0.75rem;
    font-weight: 500;
}

.btn-l {
    padding: 0.8rem 0.9rem;
    font-size: 1rem;
    border-radius: 0.75rem;
    font-weight: 500;
}

.btn-action {
    font-size: 1.15rem;
    min-width: 250px;
    padding: 14px;
    font-weight: 500;
    border-radius: 14px;
    z-index: 2;
    position: relative;
}

.input_action {
    padding: 15px 18px;
    border-radius: 14px;
    min-width: 400px;
    border: 1px solid rgb(229 231 235);
}

.input_action:focus {
    color: #000000;
    background-color: #fff;
    border-color: #1145FF;
    outline: 0;
    box-shadow: none;
}

.input_action::placeholder {
    color: #99A2AD;
}

.input_action:-ms-input-placeholder {
    color: #99A2AD;
}

.input_action::-ms-input-placeholder {
    color: #99A2AD;
}

.blur_action_btn {
    background: linear-gradient(90deg, #1145FF, #00DFD8);
    position: absolute;
    width: 250px;
    height: 60px;
    filter: blur(16px);
    z-index: 1;
}

.pt-12 {
    padding-top: 5rem;
}

.pb-12 {
    padding-bottom: 5rem;
}

.ms-6 {
    margin-left: 5rem !important;
}

.rounded_badge {
    border: 1px solid rgb(229 231 235);
    padding: 0.7rem 1.5rem;
    border-radius: 50px;
}

.head_main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #ffffff;
}

.head_main h1 {
    padding: 3.5rem;
    font-size: 3.8rem;
    font-weight: 700;
}

.head_main p {
    font-size: 1.13rem;
    font-weight: 400;
    color: #99A2AD;
}

.head_main small {
    font-size: 0.9rem !important;
}

.android_gradient_text {
    background: -webkit-linear-gradient(315deg, #00de7a 25%, #647eff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.ios_gradient_text {
    background: linear-gradient(90deg, #7928ca, #ff0080);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.border_bottom {
    border-bottom: 1px solid rgb(229 231 235);
}

.stack_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #ffffff;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.stack_container h2 {
    font-size: 2rem;
    font-weight: 500;
}

.stack_image {
    height: 60px;
}

.section {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.section h2 {
    font-size: 2rem;
    font-weight: 500;
}

.section h3 {
    font-size: 1.25rem;
}

.screen_border_radius {
    border-radius: 10px;
}

.text-primary {
    color: #1145FF !important;
}

.desc_text {
    color: #99A2AD;
    font-size: 1.13rem;
}

.p_color_text {
    color: rgb(55 65 81);
}

.margin_help_1 {
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
}

.margin_help_2 {
    margin-top: 65px;
}

.margin_help_2 {
    margin-top: 75px;
}

.bg_snow {
    background: #fafafa;
}

.icon_circle {
    width: 80px;
    height: 80px;
    border-radius: 80px;
    background-color: #111827;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    position: relative;
    z-index: 2;
}

.h2_badge_circle {
    font-size: 1.3rem !important;
    font-weight: 500 !important;
}

.icon_circle_blur {
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    position: absolute;
    width: 80px;
    height: 60px;
    filter: blur(16px);
    z-index: 1;
    margin-bottom: 40px;
}

.img_bg {
    top: 8rem;
    left: 50%;
    display: block;
    width: 640px;
    position: absolute;
}

.text-grey {
    color: #99A2AD !important;
}

.footer_link {
    color: #99A2AD;
    font-weight: 400;
    margin-left: 0;
    padding-left: 0;
}

.footer_link:hover,
.nav-link:focus {
    color: #000000;
    margin-left: 0;
    padding-left: 0;
}

.fw-medium {
    font-weight: 600;
}

.doc_title {
    font-size: 1.875rem;
    font-weight: 700;
}

.doc_pretitle {
    font-size: 1.5em !important;
    font-weight: 700 !important;
}

.price_title {
    font-size: 2.25rem;
    font-weight: 700;
}

.price_subtitle {
    color: #99A2AD;
    font-size: 1.125rem !important;
    font-weight: 400 !important;
}

.price_card {
    border: 1px solid rgb(229 231 235);
    border-radius: 12px;
    padding: 2rem;
    z-index: 2;
}

.price_card .name {
    font-size: 1.125rem !important;
    font-weight: 700 !important;
}

.price_card .price {
    font-size: 3rem !important;
    font-weight: 600 !important;
}

.price_popular {
    background-color: #000000;
    color: #ffffff;
}

.price_fluent {
    background: linear-gradient(90deg, rgb(68, 255, 154) -0.55%, rgb(68, 176, 255) 22.86%, rgb(139, 68, 255) 48.36%, rgb(255, 102, 68) 73.33%, rgb(235, 255, 112) 99.34%);
    position: absolute;
    height: 100%;
    filter: blur(16px);
    z-index: 1;
    width: 100%;
}

.block {
    max-width: 100%;
    position: relative;
}

.text-success {
    color: #41D6A0 !important;
}

.text-danger {
    color: #FF004B !important;
}

.btn-group-sm>.btn,
.btn-sm {
    padding: 0.35rem 1rem;
    font-size: .775rem;
    border-radius: 0.5rem;
}

.card_min {
    min-height: 192px;
}

.list-group-item {
    border: 1px solid rgb(229 231 235);
    padding: 1rem 1rem;
}

.list-group-item h3 {
    font-size: 1.4rem;
    font-weight: 500;
    margin-bottom: 0;
}

.top-slider {
    background: #f2f0ee;
    padding-top: 1.5rem;
    padding-bottom: 3.5rem;
}

.custom-card {
    background-color: #fff;
    border-radius: 2.25rem 2.25rem 0;
    padding: 0rem 2.25rem;
    padding-left: 5.5rem;
    padding-right: 5.5rem;
}

.custom-card h2 {
    font-size: 4rem;
    font-weight: 400;
    line-height: 66px;
    text-align: center;
}


.card-box-title {
    font-size: .875rem;
    font-weight: 700;
    line-height: 1.25rem;
}

.card-box-desc {
    width: 100%;
    font-size: 1rem;
    line-height: 1.5rem;
}

.registration-section {
    text-align: center;
    font-size: 22px;
}

.registration-section a {
    text-decoration: unset;
    color: #1145ff;
}

.registration-section p {
    color: #989eb5;
}

.custom-card .form-floating>.form-control:focus~label,
.form-floating>.form-control:not(:placeholder-shown)~label,
.form-floating>.form-select~label {
    transform: scale(1) translateY(-0.6rem) translateX(0.6rem);
    background: #fff;
    opacity: 1;
    color: #1145ff;
    padding: 0;
    line-height: 1;
    margin-bottom: 0;
    height: auto;
}

.custom-card .form-floating>label {
    transition: opacity .1s ease-in-out, transform .1s ease-in-out;
    transform: scale(1) translateY(-0.6rem) translateX(0.6rem);
    background: #fff;
    padding: 0;
    line-height: 1;
    margin-bottom: 0;
    height: auto;
    color: #7e94a6;
    font-size: 18px;
}

.custom-card .form-floating>.form-control {
    border: 1px solid #ced4da;
    border-radius: 7px;
    padding-right: 50px;
}

.custom-card .btn-action {
    border-radius: 7px;
}

.custom-card .form-floating>.form-control:focus,
.form-floating>.form-control:not(:placeholder-shown) {
    box-shadow: none;
    border-color: #1145ff;
    border-radius: 7px;
}

.custom-card .input-group-addon i {
    position: absolute;
    right: 20px;
    top: 10px;
    height: 24px;
    font-size: 24px;
    width: 24px;
    color: #99a2ad;
}

.slider-section {
    background-image: url(../images/machinery-desktop-background.svg);
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    min-height: 556px;
    width: 100%;

}

.slider-section .middle-stick {
    position: absolute;
    left: 42%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
}

.owl-nav {
    display: none;
}

#wrap li.slide-item img {
    height: 338px;
    width: 503px;
}

#slider2 li.slide-item img {
    height: 335px;
    width: 168px;
}

@media only screen and (max-width: 768px) {
    .custom-card {
        border-radius: 2.25rem 2.25rem 0;
        padding: 2.75rem 1.25rem;
    }

    .custom-card h2 {
        font-size: 2rem;
        line-height: 2.5rem;
    }

    .card-box-title {
        font-size: .875rem;
        font-weight: 700;
        line-height: 1.25rem;
    }

    .card-box-desc {
        width: 100%;
        font-size: 1rem;
        line-height: 1.5rem;
    }

    .registration-section {
        font-size: 18px;
    }

    .slider-section {
        min-height: 295px;
        margin: 10px 0px;
    }

    .slider-section .middle-stick {
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        height: 200px;
    }
}


@media only screen and (min-width: 768px) {
    .slider-section {
        margin: 10px 0px;
        width: 100%;
        background-size: cover;
        height: 100%;
        border-radius: 52px;
    }

    .slider-section .middle-stick {
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}

@media only screen and (min-width: 992px) and (max-width:1199px) {
    .slider-section {
        min-height: 295px;
        margin: 10px 0px;
    }

    .slider-section .middle-stick {
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        height: 200px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) and (max-width:1400px) {
    .slider-section {
        min-height: 556px;
        margin: 0;

    }

    .slider-section .middle-stick {
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        height: 400px;
    }

    .custom-card h2 {
        font-size: 2.5rem;
        line-height: 50px;
    }
}

@media only screen and (min-width: 1401px) {
    .slider-section .middle-stick {
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        height: 100%;
    }


}